<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment3</title>
<!--CSS-->
   <link rel="stylesheet" type= "text/css" href="../static/style/dark_theme.css"/> 
<!--     <link rel="stylesheet" href="http://unpkg.com/dc@3/dc.css">-->


</head>

<body>

     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



<div style="width: 100%; display: table;">
        <div style="float:Center;">
            <h1>Online Retail Dataset</h1>
            

        </div>
        
    </div>
    <p>Please try to answer the questions of the form from the following visualizations. Refresh once you are done </p>
    <p>Available interactions:
    <li>
        <ul>Click on sales bar to get values separated month</ul>
        <ul>Click on a histofram to see name of the country</ul>
        <ul>Hover mouse on a point to see the actual value</ul>
    </li>
</p>
     <!--Table and divs that hold the pie charts-->
     <table class="columns">
        <tr>
          <td><div id="chart_div" style="border: 1px solid #ccc"></div></td>
          <td><div id="bar_div" style="border: 1px solid #ccc"></div></td>
        </tr>
        <tr>
            
          <td><div id="line_charts" style="border: 1px solid #ccc"></div></td>
          <td><div id="hist_cust" style="border: 1px solid #ccc"></div></td>
        </tr>
      </table>

      



     <!-- <div id="chart_div"></div> -->
	 <!-- <div id="bar_div"></div> -->
    
     <!--<div id="histo_div"></div>-->
     <!--<div id="line_charts"></div>-->
     <!-- <div id="hist_cust"></div>-->


     <script src="../static/VizGoogleCharts.js"></script>


</body>



</html>
